.dragElements:hover {
	cursor: pointer;
}

.dragElements:active {
	cursor: move;
}


#item {
	height: 100vh;
	border-right: 1px solid black;
	overflow-y: auto;
}

#bascket {
	height: 100vh;
	border-left: 1px solid black;
	overflow-y: auto;
}